<h1>Student Enrollment Administration Page</h1>

<h2>Welcome! Please select an option below:</h2>

<div>
    <a asp-controller="Student" asp-action="Create">Create a new Student</a>
</div>
<div>
    <a asp-controller="Class" asp-action="Create">Create a new Class</a>
</div>
